body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: white;
}

h1 {
	margin-top: 0.2em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}

main {
	max-width: 600px;
	margin: auto;
}

.center {
	text-align: center;
}

.section {
	margin: 0.2em;
  border: 1px solid grey;
  border-radius: 0.2em;
}

.hidden {
	color: rgba(0, 0, 0, 0.5);
}

input, textarea {
	font-size: 1.1em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	box-sizing: border-box;
}

.invalid input, input.invalid {
	border: 1px solid red;
}

.error {
	font-size: 0.8em;
	color: red;
}

.cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 50vh;
	max-width: 500px;
	width: 80vw;
	border-radius: 0.5em;
	background-color: white;
	padding: 0.5em;
	margin: auto;
}

.description {
	margin: 0.2em 0;
}

.menu-item:nth-child(even), .order-item:nth-child(even), .reciept-list .item-row:nth-child(odd), .order-list .order:nth-child(odd), .striped:nth-child(odd) {
	background-color: #D8DBE2;
}

.reciept-list, .reciept-totals {
	border-bottom: 1px solid silver;
}

.count input {
	width: 2em;
	text-align: center;
}

@media only screen and (min-width: 1025px) {
	.count input {
		width: 3em;
		padding-left: 1em;
	}
}

button {
	box-sizing: border-box;
	border: none;
	border-radius: 0.2em;
	color: white;
	font-weight: bold;
}

button.minus, button.plus {
	width: 1em;
	height: 1em;
	line-height: 0;
	font-size: 1.5em;
	vertical-align: middle;
	margin-bottom: 0.1em;
}

button.minus {
	padding-bottom: 0.1em;
}

button.plus, button.primary {
	background-color: #00A0AF;
}

button.minus, button.danger {
	background-color: #F16022;
}

button.secondary {
	background-color: #F16022;
}

button:disabled {
	background-color: #B1B1B1;
	border: 1px solid #373F51;
}

button.md {
	padding: 0.4em 0.6em;
	font-size: 1em;
}

